<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KMLEAI</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://paullab.github.io/my-first-blog/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="https://paullab.github.io/my-first-blog/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://paullab.github.io/my-first-blog/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">KMLEAI</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">AI_diagnosis</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Solution</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Interchange</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Register</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

{% block content %}
{% endblock %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To 'KMLEAI' Service!</div>
                <div class="intro-heading">의사국가고시 정보를 공유합니다.</div>
                <a href="#services" class="page-scroll btn btn-xl">진단서비스 바로가기</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">KMLEAI는 비영리로 운영되는 의사국가고시 풀이 공유 사이트입니다.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <a href='http://www.paullab.co.kr/'><h4 class="service-heading"><span style="color:black">AI를 이용한 진단서비스</span></h4></a>
                    <p class="text-muted">딥러닝(TensorFlow)을 이용한 진단서비스를 제공합니다. 서비스는 문제풀이 용도로만 사용하세요.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <a href='http://www.paullab.co.kr/'><h4 class="service-heading"><span style="color:black">문제풀이 공유</span></h4></a>
                    <p class="text-muted">의사국가고시 문제와 풀이를 공유할 수 있는 서비스와 의료 관련 유익한 정보를 공유할 수 있는 서비스를 제공합니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-retweet fa-stack-1x fa-inverse"></i>
                    </span>
                    <a href='http://www.paullab.co.kr/'><h4 class="service-heading"><span style="color:black">서비스 업데이트</span></h4></a>
                    <p class="text-muted">서비스는 지속적으로 업데이트하여 다양한 진단을 서비스할 계획입니다.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">프로젝트 어벤져스!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://paullab.github.io/my-first-blog/img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Hojun Lee</h4>
                        <p class="text-muted">PM, TensorFlow</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/hojun.lee.521"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://paullab.github.io/my-first-blog/img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Teahyeon Lee</h4>
                        <p class="text-muted">Developer, Django</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/TH.Jake.Lee"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="https://paullab.github.io/my-first-blog/img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Deokju Kim</h4>
                        <p class="text-muted">Field of medicine</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/profile.php?id=100005311386399"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">팀 프로젝트에 공헌해주실 분은 아래 연락처로 연락주세요.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; KMLEAI 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#"></a>
                        </li>
                        <li><a href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="https://paullab.github.io/my-first-blog/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://paullab.github.io/my-first-blog/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://paullab.github.io/my-first-blog/jquery.easing.min.js"></script>
    <script src="https://paullab.github.io/my-first-blog/js/classie.js"></script>
    <script src="https://paullab.github.io/my-first-blog/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="https://paullab.github.io/my-first-blog/js/jqBootstrapValidation.js"></script>
    <script src="https://paullab.github.io/my-first-blog/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="https://paullab.github.io/my-first-blog/js/agency.js"></script>

</body>

</html>
